<header class="header-container">
  <div class="wrapper">
    <a
      href="https://adalab.es/"
      class="logo-item"
      target="_blank"
      title="Ir a la home de Adalab"
    >
      <img
        src="./assets/images/logo-adalab.png"
        alt="Adalab"
        title="Logo de Adalab"
      />
    </a>
    <nav class="header-menu">
      <ul>
        <li>
          <a href="https://medium.com/adalab" target="_blank" title="Ir Blog">
            blog
          </a>
        </li>
        <li>
          <a
            href="https://adalab.es/contacto/"
            target="_blank"
            title="Ir a Contacto"
          >
            contacto
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
