* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}

:root {
  --color-text: #4a4a4a;
  --color-background: #3cdbc0;
  --color-claim: #ffffff;
}

/* HEADER */

.header-container {
  position: fixed;
  width: 100%;
  background-color: var(--color-claim);
  z-index: 3;
}

.header-container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*Imagen*/

.header-container .wrapper .logo-item {
  width: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}

.header-container .wrapper .logo-item img {
  width: 100%;
}

/*Menú de Navegación*/
.header-menu ul li {
  display: inline-block;
  padding-left: 0;
  padding-bottom: 13px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-text);
}

.header-menu ul li:nth-child(1) {
  padding-right: 20px;
}

/* MAIN */

.main {
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .main-title {
  text-transform: capitalize;
  font-size: 30px;
  color: var(--color-claim);
  z-index: 2;
}

.main .main-title span {
  display: block;
  text-align: center;
}
